/*General styles*/

html {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 18px;
  text-align: center;
  /*font-weight: 400;*/
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  letter-spacing: 6px;
  font-size: 32px;
  margin: 10px 0;
  text-transform: uppercase;
}

h2 {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
  margin: 0 auto 20px;
}

.tapa-disco {
  width: 30%;
  margin: 0 auto;
}

.social-media {
  margin-top: 20px;
}

li { list-style: none; }
ul { padding-left: 0; }
span { font-weight: 700; }

.hero {
  background: url("../img/bg-nuevo.jpg") center;
  background-size: cover;
  height: 100vh;
  padding-top: 7%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icn img {
  display: inline-block;
  opacity: 0.9;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.icn img:hover { opacity: 1; }

@media screen and (max-width: 600px) {
  .icn img {
    margin-right: 4px;
  }

  h2 { font-size: 20px; }
  .hero { padding-top: 25%; }

  .tapa-disco {
    width: 80%;
  }
}
